[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
flake8 = "*"
autopep8 = "*"
pytest = "*"
freezegun = "*"

[packages]
boto3 = "*"
pandas = "*"
numpy = "*"
requests = "*"

[requires]
python_version = "3.7"

[scripts]
lint = "flake8 src/ tests/ --config pipenv.ini"
check = "mypy --config-file pipenv.ini"
test = "python -m pytest tests/  -c pipenv.ini"
